asgiref==3.5.0
boto3==1.17.101
botocore==1.20.112
certifi==2021.10.8
Django==3.2
django-appconf==1.0.5
django-bootstrap-form==3.4
django-crispy-forms==1.14.0
django-storages==1.11.1
django-user-accounts==3.2.0
jmespath==0.10.0
pinax-templates==2.0.6
pinax-theme-bootstrap==8.0.1
psycopg2-binary==2.8.6
python-dateutil==2.8.2
python-magic==0.4.25
pytz==2021.3
s3transfer==0.4.2
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.8
wincertstore==0.2
