{% extends "site_base.html" %}
{% load static %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}
{% load crispy_forms_tags %}


{% block body_class %}account account-signup{% endblock %}
{% block head_title %}{% trans "Landing Page" %}{% endblock %}

{% block styles %}
<link href="{% static 'css/theme.css' %}" rel="stylesheet"/>
<link href="{% static 'css/landingpage.css' %}" rel="stylesheet"/>
<link href="{% static 'css/portal.css' %}" rel="stylesheet"/>

{% endblock %}


{% block body_base %}
<main>
    {% block messages %}{% include "_messages.html" %}{% endblock %}

    <div class="container">

        <H1>Portal Page</H1>

        <H2>Your Applications</H2>

        <table class="table mt-4 text-muted">
            <thead class="custom-table-font">
            <th style="width:5%; border-left:0; border-right:0; text-align: left; vertical-align: middle;"
                scope="col">
                #
            </th>
            <th style="width:30%; border-left:0; border-right:0; text-align: left; vertical-align: middle;"
                scope="col">
                Job Title
            </th>
            <th style="width:30%; border-left:0; border-right:0; text-align: left; vertical-align: middle;"
                scope="col">
                Company
            </th>
            <th style="width:20%; border-left:0; border-right:0; text-align: left; vertical-align: middle;"
                scope="col">
                Job Description
            </th>
            <th style="width:5%; border-left:0; border-right:0; text-align: left; vertical-align: middle;"
                scope="col">
                Status
            </th>
            <th style="width:5%; border-left:0; border-right:0; text-align: left; vertical-align: middle;"
                scope="col">
            </th>
            </thead>
            <tbody class="api-content-font">
            {% for application in applications %}

                <tr style="height: 5.1rem;">
                    <td style="border-left:0; border-right:0; text-align: left; vertical-align: middle;">{{ forloop.counter }}</td>
                    <td style="border-left:0; border-right:0; text-align: left; vertical-align: middle;">{{ application.job.label }}</td>
                    <td style="border-left:0; border-right:0; text-align: left; vertical-align: middle;">{{ application.job.company.label }}</td>
                    <td style="border-left:0; border-right:0; text-align: left; vertical-align: middle;">{{ application.job.description }}</td>
                    <td style="border-left:0; border-right:0; text-align: left; vertical-align: middle;">
                        {% if application.stage == 1 %}
                            Pending
                        {% elif application.stage == 2 %}
                            Reviewing
                        {% elif application.stage == 3 %}
                            Shortlisted
                        {% elif application.stage == 4 %}
                            Interviewing
                        {% elif application.stage == 5 %}
                            Advanced Interviewing
                        {% elif application.stage == 6 %}
                            Rejected
                        {% elif application.stage == 7 %}
                            Offered
                        {% elif application.stage == 8 %}
                            Hired
                        {% endif %}
                    </td>
                    <td style="border-left:0; border-right:0; text-align: left; vertical-align: middle;">
                        <a href="{% url 'job_application' application_pk=application.pk %}">
                            Go to application
                        </a>
                    </td>
                </tr>

            {% empty %}
                <tr style="height: 5.1rem;">
                    <td class="empty-table" colspan="5">
                        <div>No Applications Yet</div>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <H2>Open Jobs</H2>

        <table class="table mt-4 text-muted">
            <thead class="custom-table-font">
            <th style="width:5%; border-left:0; border-right:0; text-align: left; vertical-align: middle;"
                scope="col">
                #
            </th>
            <th style="width:30%; border-left:0; border-right:0; text-align: left; vertical-align: middle;"
                scope="col">
                Job Title
            </th>
            <th style="width:30%; border-left:0; border-right:0; text-align: left; vertical-align: middle;"
                scope="col">
                Company
            </th>
            <th style="width:20%; border-left:0; border-right:0; text-align: left; vertical-align: middle;"
                scope="col">
                Job Description
            </th>
            <th style="width:5%; border-left:0; border-right:0; text-align: left; vertical-align: middle;"
                scope="col">
            </th>
            </thead>
            <tbody class="api-content-font">
            {% for job in open_jobs %}

                <tr style="height: 5.1rem;">
                    <td style="border-left:0; border-right:0; text-align: left; vertical-align: middle;">{{ forloop.counter }}</td>
                    <td style="border-left:0; border-right:0; text-align: left; vertical-align: middle;">{{ job.label }}</td>
                    <td style="border-left:0; border-right:0; text-align: left; vertical-align: middle;">{{ job.company.label }}</td>
                    <td style="border-left:0; border-right:0; text-align: left; vertical-align: middle;">{{ job.description }}</td>
                    <td style="border-left:0; border-right:0; text-align: left; vertical-align: middle;">

                        <a href="{% url 'job' job_pk=job.pk %}">
                            Easy Apply
                        </a>
                    </td>
                </tr>

            {% empty %}
                <tr style="height: 5.1rem;">
                    <td class="empty-table" colspan="5">
                        <div>No Open Jobs Found</div>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>


</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        $('#id_username').focus();

    });
</script>
{% endblock %}
